 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
}

.start{
    background-color: #eaeff4;
    height: 110vh;
   
}

.treasure{
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 3px;
    color:#771ada
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 80px 0px 80px;
}

.hire{
color:#9d42ff;
background-color: rgb(248, 248, 248);
border: 3px #6130cc solid;
border-radius: 6px;
padding: 7px 50px;
font-family: 'roboto' sans-serif;
font-size: 17px;
cursor: pointer;
transition: 0.5s;
}

.hire:hover{
    background-color: #9d42ff;
    color: white;
    box-shadow: 5px 7px #333333;
}

.first_content{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    padding: 100px 80px 0px 80px;

}

.maintop{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: 700;
    width: 1000px;
    height: 500px;
    background: linear-gradient(45deg,#100120,#6c29fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 6rem;

}


.mainimg{
    width: 1200px;
    height: 500px;
    background-image:url(https://picsum.photos/1200/500);
    position: relative;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow: 10px 10px #333333;
}

.second{
    background-color: #6c29fb ;
    color: rgb(248, 248, 248);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-areas: 
    "greet greet"
    "name name"
    "image intro"

}

.greet{
    grid-area: greet;
    font-size: 30px;
    justify-self: center;
    padding: 20px 0px 0px 0px ;
}

.name{
    place-self: center;
    grid-area: name;
    font-size: 70px;
    letter-spacing: -2px;
    font-weight: 700;
}

.story{
    font-size: 40px;

}


.intro{
    font-size: 20px;
    padding: 50px 30px;
    grid-area: intro;
    place-self: center;
}

.pic{
    background: url(propic1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    grid-area: image;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    place-self: center;
    box-shadow: 7px 10px #333333;
}

